<meta charset="UTF-8">
<title><%= title || 'Title' %></title>

<link rel="stylesheet" href="/assets/Bootstrap-5-5.1.3/css/bootstrap.min.css" />
<link rel="stylesheet" href="/assets/DataTables-1.12.1/css/jquery.dataTables.min.css">
<!--<link rel="stylesheet" href="/assets/DataTables-1.12.1/css/dataTables.bootstrap5.min.css">-->
<link rel="stylesheet" href="/assets/style.css">

<script src="/assets/jQuery-3.6.0/jquery-3.6.0.min.js"></script>
<script src="/assets/Bootstrap-5-5.1.3/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" charset="utf8" src="/assets/DataTables-1.12.1/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="/assets/DataTables-1.12.1/js/dataTables.bootstrap5.min.js"></script>
<style>
  body { padding-top:50px; }
</style>
